.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
    margin: 10px auto;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    margin-top: 30px;
    position: static;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: fixed; 
    top: 0; 
    right: -25px; 
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}


.nav-links a:hover, .nav-links.open a:hover{
    color: #f39c12;
}

.nav-links.open {
    display: flex; 
    transform: translateY(0);
    justify-content: flex-start;
    margin: auto;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.9); /* Fond noir avec transparence */
}

.nav-links a {
    text-decoration: none;
    font-size: 24px;
    margin: 15  px 0;
    cursor: pointer;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.close-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.burger-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001; 
    opacity: 10px;
    margin-bottom: 10px;
}

/* Media Query : grands écrans */
@media screen and (min-width: 768px) {

    .burger-button {
        display: none; 
    }

    .close-button{
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        height: auto;
        background-color: transparent;
        transform: none; 
    }

    .nav-links a {
        margin: 0 15px;
        font-size: 16px;
    }
}
